@media screen and (min-width:769px) {
  body{
    background: white;
  }
  .body-container header .logo img{
    margin: 0% 10%;
    padding: 2px;
  }
  .body-container .Posts{
    background: #fff;
  }
  .body-container .Posts .post{
      background: #E5E3E3;
  }
}
