@media screen and (max-width:768px) {
  body{

  }
  .body-container{

  }
  .body-container header .logo{

  }
  .body-container header .logo img{
    width: 100%;
    margin: 1px;
    padding: 2px;
  }
  .body-container .Posts{
    background: #000;
  }
  .body-container .Posts .post{
      background: gray;
  }
  .body-container header nav ul li{
    margin : 0px 2px;
  }
}
