*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing : border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background: white;
  /*margin: auto;*/
  font-family: "Times New Roman",Helvetica,Arial;
  font-size: 15px;
}

a:visited{
  color: white;
}

article{
  font-style: normal;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 20px;
}



.body-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

.body-container header{
  width: 100%;
  margin: 1% 0%;
  padding: 0;
}

.body-container header .logo{
  width: auto;
  display: inline-block;
  margin: 1% 28%;
  padding: 0.5%;

}

.body-container header .logo img{
  /*display: block;*/
  width: 100%;
  margin: 0.1%;
  padding: 0.5%;
}

.body-container header nav{
  width: 100%;
  background: #000;
  position: relative;
}

.body-container header nav ul{
  width: 100%;
  margin:0.2% 27%;
  padding: 0.5%;
  overflow: hidden;
  list-style: none;
}

.body-container header nav ul li{
  margin: 0.5%;
  padding: 1%;
  float:left;
  border: 0.5px solid #fff;
}

.body-container header nav ul li a{
  color: #fff;
  text-decoration: none;
}

.body-container header nav ul li a:hover{
  color:#6e6e6e;
  text-decoration: underline;
  transition: all 0.5s ease;
}

.body-container header nav ul li:hover{
  border: 0.5px solid;
  color : #6e6e6e;
  transition: all 0.5s ease;
}

.body-container .Posts{
  width: 80%;
  margin: 2% auto;
  padding: 0.5%;
  background: #fff;
}

.body-container .Posts .post{
  width: 100%;
  background: #E5E3E3;
  margin: 0.5% 0%;
  margin-bottom: 2%;
  padding: 5%;
}

.body-container .Posts .post .post-container{
  width: 100%;
  margin: 0.1%;
  padding: 0.1%;
  position: relative;
}

.body-container .Posts .post .post-container h2{
  text-align: center;
  font-size: 35px;
  font-style: italic;
  font-weight: bolder;
  margin : 0.5%;
  padding: 0.2%;
}

.body-container .Posts .post .post-container h3{
  text-align: center;
  font-size: 15px;
  font-style: italic;
  margin : 0.5%;
  padding: 0.2%;
  color: #6E6E6E;
}

.body-container .Posts .post .post-container .img-article{
  width: 100%;
  margin:2% auto;
  padding: 1%;
  display:inline-block;
}

.body-container .Posts .post .post-container .img-article img{
  width: 50%;
  margin : 1%;
  margin-left: 25%;
  margin-right: 25%;
}

.body-container .Posts .post .post-container .text-article{

}

.body-container .Posts .post .post-container .button{
  width: 100%;
  margin: 2%;
  padding: 2%;
  display: inline-block;
}

.body-container .Posts .post .post-container .button a{
  
}
