@media screen and (min-width:769px) {
  body{
    background: white;
  }
  .body-container header .logo img{
    width: 60%;
    margin: 0% 20%;
    padding: 2px 2px;
  }
  .body-container .Posts{
    background: #fff;
  }
  .body-container .Posts .post{
      background: #E5E3E3;
  }
  .body-container header nav ul li{
    width: 22%;
    margin: 1px 10px;
    padding: 15px 1px;
  }
  .body-container header nav ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0px 20px;
  }
  .body-container .Posts .post .post-container h3{
    text-align: center;
    font-size: 15px;
    margin : 0.5%;
    padding: 0.2%;
    color: #6E6E6E;
  }
  .body-container .Posts .post .post-container .img-article img{
    width: 50%;
    margin : 1%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .body-container .Posts .post .post-container .button a{
    width: auto;
    margin: 3% 43%;
  }
}
