*{
  padding: 0;
  margin: 0;
}
body{
  background: white;
  /*margin: auto;*/
  font-family: "Times New Roman",Helvetica,Arial;
  font-size: 15px;
}

a{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}
a:hover{
  color:#6e6e6e;
  text-decoration: underline;
}
a:visited{
  color: white;
}
header{
  margin: auto;
  /*border: 10px;
  padding: 10px;*/
}

.logo{
  padding-left: 524px;
  padding-right: 524px;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav{
  background-color: black;
  color: white;
  font-style: italic;
}

article{
  font-style: normal;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 20px;
}
